<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js'></script>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>

    <div class="container">
      <canvas id="myChart"></canvas>
    </div>

    <script type="text/javascript">
       (async function() {
            const data = [
              { year: 2010, count: 10 },
              { year: 2011, count: 20 },
              { year: 2012, count: 15 },
              { year: 2013, count: 25 },
              { year: 2014, count: 22 },
              { year: 2015, count: 30 },
              { year: 2016, count: 28 },
            ];

            new Chart(
              document.getElementById('myChart'),
              {
                type: 'bar',
                data: {
                  labels: data.map(row => row.year),
                  datasets: [
                    {
                      label: 'Acquisitions by year',
                      data: data.map(row => row.count)
                    }
                  ]
                }
              }
            );
          })();
    </script>

</body>
</html>